body {
  background-color: darkblue;
  color: white;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  display: flex; /* Make body a flex container */
  justify-content: center; /* Center content horizontally */
  min-height: 100vh; /* Set minimum viewport height for full-screen centering */
}

h1 {
  text-align: center;
  font-size: 2em;
}

.weather-info p {  /* Target paragraphs within .weather-info */
  margin-bottom: 10px;
  text-align: left;
  /* font-weight: bold; */
}

.weather-info {
  background-color: lightgoldenrodyellow;
  color: black;
  padding: 15px;
  border-radius: 5px;
  margin: 10px auto;
  max-width: 500px;
}
